$item-width: 30%
$distance: 80vw

.carousel
  align-items: center
  display: flex
  flex-direction: column
  margin-bottom: 1rem
  overflow: hidden
  padding: 1rem
  perspective: $distance
  position: relative

  &::after,
  &::before
    content: ''
    height: 100%
    position: absolute
    top: 0
    width: 5%

  &::after
    background-image: linear-gradient(to right, rgba($color-bg, 0) 0, $color-bg 100%)
    right: 0

  &::before
    background-image: linear-gradient(to left, rgba($color-bg, 0%) 0, $color-bg 100%)
    left: 0
    z-index: 1

  & > *
    flex-shrink: 0

  &__items
    margin-bottom: 1rem
    min-width: 250px
    transform-style: preserve-3d
    transition: transform .4s cubic-bezier(1, 0.3, 0.25, 1.1)
    width: $item-width

  &__controls
    display: flex
    justify-content: space-between
    margin: 0 1rem

img
  backface-visibility: hidden
  padding: .625rem
  width: 100%

  &:not(:first-of-type)
    left: 0
    position: absolute
    top: 0

[data-backface] img
  backface-visibility: visible

.btn
  background-color: transparent
  border: 1px solid currentColor
  border-radius: 2px
  color: inherit
  cursor: pointer
  font-family: inherit
  font-size: .75rem
  font-weight: inherit
  letter-spacing: 1px
  margin: 0 .25rem
  padding: .25rem 1rem
  position: relative

  &:focus
    outline: thin dotted

  &--prev::before
    content: '⇽'
    margin-right: .5rem

  &--next::after
    content: '⇾'
    margin-left: .5rem
