main.content
  .container
    h2.section-title Simple 3D Carousel 
    .carousel
      .carousel__items
        img(src="https://source.unsplash.com/41eXcLghVhI/900x600" alt="")
        img(src="https://source.unsplash.com/iS0Aq3QPsJ4/900x600" alt="")
        img(src="https://source.unsplash.com/EjlygRQAOik/900x600" alt="")
        img(src="https://source.unsplash.com/g56z-vE98B4/900x600" alt="")
        img(src="https://source.unsplash.com/5ylV-khwM9s/900x600" alt="")
        img(src="https://source.unsplash.com/qoVhdDKzWT0/900x600" alt="")
        img(src="https://source.unsplash.com/ocZ-_Y7-Ptg/900x600" alt="")
        img(src="https://source.unsplash.com/fafurmGaU7U/900x600" alt="")
        img(src="https://source.unsplash.com/pgUbpDLJh3E/900x600" alt="")
        img(src="https://source.unsplash.com/U5rMrSI7Pn4/900x600" alt="")
        img(src="https://source.unsplash.com/S_Y1UQQYwk4/900x600" alt="")
      nav.carousel__controls
        button.btn.btn--prev(type="button") Prev
        button.btn.btn--next(type="button") Next
