footer.site-footer
  .container
    p.copyright Created by #[a(href='https://zsolti.co') Zsolt Meszaros]. Source code is available on #[a(href='https://github.com/zsoltime/carousel' target='_blank' rel='nofollow noopener noreferrer') GitHub].
